@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}
html {
  scroll-behavior: smooth;
}
.container {
  min-height: 100vh;
  padding: 90px 150px;
}
.row {
  display: flex;
}
.container h1 {
  font-size: 28px;
  color: #505050;
  margin-bottom: 10px;
}
.container h2 {
  color: #505050;
}
.container h3 {
  font-size: 18px;
  font-weight: 400;
  color: #505050;
}
.container p {
  color: #505050;
}
.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}
.btn-primary {
  background-color: #ff4c60;
}
.btn-secondary {
  background-color: #ffd15c;
}
.btn-primary:hover {
  margin-top: -5px;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
}
nav {
  box-sizing: border-box;
  padding: 10px 150px;
  width: 100%;
  background-color: #353353;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #575574;
}
nav .logo a {
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}
nav .logo a span {
  color: #ff4c60;
}
nav .navbar-toggle {
  font-size: 20px;
  color: #fff;
  display: none !important;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffd15c;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 25px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
/* nav ul li a:hover {
  color: #ffd15c;
} */
nav ul li a:hover::after {
  transform: scaleX(1);
}

/* HOME */
#home {
  background-color: #353353;
}
#home {
  padding: 90px 0 0 0;
}
#home .row {
  padding-top: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#home .row img {
  width: 130px;
  border-radius: 100px;
}
#home .row h1,
#home .row h3 {
  color: #fff;
}
#home .row h1,
#home .row h3,
#home .row .btn-primary {
  margin-top: 5px !important;
}
#home .row .socialMedia ul {
  display: flex;
  margin: 10px 0;
}
#home .row .socialMedia ul li {
  list-style: none;
}
#home .row .socialMedia ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  margin: 0 18px;
  transition: 0.3s;
}
#home .row .socialMedia ul li a:hover {
  color: #ffd15c;
}
#home .scrollDown {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30px;
  color: #fff;
}
#home .scrollDown p {
  padding: 0;
  margin: 5px 0;
  color: #fff;
}
#home .scrollDown .mouse {
  margin: 0px auto;
  width: 20px;
  height: 28px;
  border-radius: 15px;
  border: 3px solid #fff;
}
/* Parallax */

/* HOME */

/* ABOUT */
#about p {
  text-align: justify;
}
#about .row .about-img {
  flex: 1;
  margin-right: 60px;
  margin-top: 15px;
}
#about .row .about-img img {
  width: 130px;
  border-radius: 100px;
}
#about .row .about-text {
  padding: 40px;
  flex: 8;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
#about .row .about-text::after {
  content: "";
  display: block;
  position: absolute;

  left: -35px;
  top: 60px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  clip-path: polygon(100% 0, 28% 50%, 100% 100%);
}
#about .row .about-text .about-text-details,
#about .row .about-text .about-text-skills {
  flex: 1;
}
#about .row .about-text .about-text-details p {
  margin-bottom: 20px;
}
#about .row .about-text .about-text-skills {
  padding-left: 40px;
}
#about .row .about-text .about-text-skills .percent {
  width: 100%;
  height: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  margin-bottom: 10px;
}
#about .row .about-text .about-text-skills .percent .value {
  height: 10px;
  border-radius: 80px 0 0 80px;
}
#about .row .about-text .about-text-skills .percent #v1 {
  background-color: #ffd15c;
}
#about .row .about-text .about-text-skills .percent #v2 {
  background-color: #ff4c60;
}
#about .row .about-text .about-text-skills .percent #v3 {
  background-color: #f0db4f;
}
#about .row .about-text .about-text-skills .percent #v4 {
  background-color: #474a8a;
}
#about .achive {
  color: rgb(129, 129, 129);
  margin-top: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
#about .achive .achive-list {
  flex: 1;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#about .achive .achive-list h1 {
  color: rgb(129, 129, 129);
}
#about .achive .achive-list i {
  font-size: 35px;
  margin-right: 8px;
}

/* end About */

/* Experience */

#experience .expe-box-right {
  margin-left: 30px;
}
#experience .expe-box .expe-box-left,
#experience .expe-box .expe-box-right {
  flex: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  border-radius: 10px;
}
#experience .expe-box .box-academic {
  border-left: 2px solid #ff4c60;
  padding-bottom: 20px;
}
#experience .expe-box .box-academic .icon i {
  margin-right: 15px;
  margin-left: -17px;
  padding: 6px 5px;
  font-size: 18px;
  border-radius: 50%;
  color: #505050;
  background-color: #fefeff;
}

#experience .expe-box .box-academic .text-detail .tahun {
  color: #c7b5b5;
}
/* Responsive Tablet */
@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 30px;
  }
  nav .navbar-toggle {
    display: block !important;
  }
  nav ul {
    margin-top: 30px;
    /* background-color: #9f9eac; */
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    display: none;
    /* transform: translatex(100%); */
  }
  .active {
    display: block;
    /* transform: translatex(0%); */
  }
  nav ul li {
    padding: 15px 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  #home {
    padding: 10px 30px;
  }
  #about,
  #experience {
    padding: 60px 30px;
  }
  #about h1 {
    text-align: center;
  }
  #about .row {
    flex-direction: column;
    align-items: center;
  }
  #about .row .about-img {
    flex: 1;
    margin-right: 0;
    margin-bottom: 40px;
  }
  #about .row .about-text {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #about .row .about-text .about-text-skills {
    width: 100%;
    padding: 40px 0;
  }
  #about .row .about-text::after {
    left: 340px;
    top: -35px;
    clip-path: polygon(50% 30%, 0 100%, 100% 100%);
  }
  #about .achive .achive-list {
    width: 50%;
    flex-direction: column;
    align-items: center;
  }
  #about .achive .achive-list i,
  #about .achive .achive-list h1 {
    margin: 5px 0 0 0;
  }
  #about .achive .achive-list p {
    text-align: center;
  }
}
/* Responsive Tablet */

/* Responsive Mobile */
@media screen and (max-width: 480px) {
  .btn {
    padding: 8px 24px;
  }
  nav {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
  }
  nav .navbar-toggle {
    display: block !important;
  }
  nav ul {
    margin-top: 30px;
    /* background-color: #9f9eac; */
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    display: none;
    /* transform: translatex(100%); */
  }
  .active {
    display: block;
    /* transform: translatex(0%); */
  }
  nav ul li {
    padding: 15px 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .container {
    min-height: fit-content;
  }
  #home {
    padding: 60px 20px;
  }
  .container {
    height: min-content;
  }
  #home .scrollDown {
    visibility: hidden;
  }
  #about,
  #experience,
  #portfolio{
    padding: 60px 20px;
  }
  #about h1 {
    text-align: center;
  }
  #about .row {
    flex-direction: column;
    align-items: center;
  }
  #about .row .about-img {
    flex: 1;
    margin-right: 0;
  }
  #about .row .about-text .about-text-skills {
    width: 100%;
    padding: 40px 0;
  }
  #about .row .about-text::after {
    left: 160px;
    top: -35px;
    clip-path: polygon(50% 30%, 0 100%, 100% 100%);
  }
  #experience .row {
    flex-direction: column;
  }
  #experience .expe-box .expe-box-right,
  #experience .expe-box .expe-box-left {
    padding: 30px;
  }
  #experience .expe-box .expe-box-right {
    margin-left: 0;
    margin-top: 30px;
  }
  #experience .expe-box .box-academic {
    /* background-color: #ffd15c; */
  }
  #experience .expe-box .box-academic .icon {
    margin-right: 0;
    /* background-color: #ff4c60; */
  }
  #experience .expe-box .box-academic .text-detail {
    /* background-color: #726daf; */
    padding: 0 20px;
  }
}
/* Responsive Mobile */
